.footer{
    background-color: #111;
    border-top : 1px solid #E7E7E7;
    text-align: center;
    color: white;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    
}